
body {
    height: 100vh;
    margin: 20px;
    background-color: rgb(52, 131, 45);
    font-family: Helvetica;
    display: grid;
    gap: 5px;
    /* mobile first - single column */
    grid-template-columns: 200px 400px 200px;
    grid-template-rows: 70px 40px 250px 50px 300px 150px;
    grid-template-areas: 
    "hdr hdr hdr"
    "blank dealerstays dealertotal"
    "buttons dealerhand dealerhand"
    "playertotal winlose winlose"
    "playerhand playerhand playerhand"
    "ftr ftr ftr"
  }
  
#title {
    grid-area: hdr;
    background-color:rgb(52, 131, 45);
    font-size: 60px;
    margin: 0px;
  }


  
footer {
    grid-area: ftr;
    background-color: rgb(52, 131, 45);

  }
  
#playertotal {
    grid-area: playertotal;
    background-color: rgb(45, 122, 68);
    font-size: 25px;
  }
#dealerhand {
    grid-area: dealerhand;
    background-color: rgb(45, 122, 68);
  }
#dealertotal {
    grid-area: dealertotal;
    background-color: rgb(45, 122, 68);
    text-align: left;
    font-size: 25px;
  }
#blank {
    grid-area: blank;
    background-color: rgb(45, 122, 68);
  }

#playerhand {
    grid-area: playerhand;
    background-color: rgb(45, 122, 68);
  }

#winlose {
    grid-area: winlose;
    background-color: rgb(45, 122, 68);
    text-align: center;
  }

#dealerstays {
    grid-area: dealerstays;
    background-color: rgb(45, 122, 68);
    text-align: center;
  }
#buttons {
    grid-area: buttons;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: rgb(45, 122, 68);

}
  
button {
    margin-right: 10px;
    align-items: left;
}
  