
body {
    height: 100vh;
    margin: 20px;
    background-color: rgb(52, 131, 45);
    font-family: Helvetica;
    display: grid;
    gap: 5px;
    
    /* mobile first - single column */
    grid-template-columns: 200px 400px 200px;
    grid-template-rows: 55px 30px 250px 30px 300px 30px 150px;
    grid-template-areas: 
    "hdr hdr hdr"
    "blank dealerstays dealertotal"
    "buttons dealerhand dealerhand"
    "playertotal playertotal playertotal"
    "playerhand playerhand playerhand"
    "moneytotal moneyblinker winlose"
    "ftr ftr ftr"
  }
  
#title {
    grid-area: hdr;
    background-color:rgb(52, 131, 45);
    font-size: 55px;
    margin: 0px;
    font-family: 'Prompt', sans-serif;
  }


  
footer {
    grid-area: ftr;
    background-color: rgb(52, 131, 45);

  }
  
#playertotal {
    grid-area: playertotal;
    background-color: rgb(52, 131, 45);
    font-size: 25px;
    color:rgb(198, 216, 196);



  }
#dealerhand {
    grid-area: dealerhand;
    background-color: rgb(45, 122, 68);
    border-radius: 15px;
    
  }
#dealertotal {
    grid-area: dealertotal;
    background-color: rgb(52, 131, 45);
    text-align: left;
    font-size: 25px;
    color: rgb(198, 216, 196);
  }
#blank {
    grid-area: blank;
    background-color: rgb(45, 122, 68);
  }

#playerhand {
    grid-area: playerhand;
    background-color: rgb(45, 122, 68);
    border-radius: 15px;
  }

#moneyblinker {
    grid-area: moneyblinker;
    background-color: rgb(52, 131, 45);
    border-radius: 15px;
    font-size: 25px;
    text-align: left;
  }

#moneytotal {
    grid-area: moneytotal;
    background-color: rgb(52, 131, 45);
    border-radius: 15px;
    text-align: left;
    font-size: 25px;
    font-family: 'Prompt', sans-serif;
    }

#winlose {
    grid-area: winlose;
    background-color: rgb(52, 131, 45);
    text-align: left;
    font-size: 25px;
    color: rgb(255, 242, 0);
    font-family: 'Prompt', sans-serif;
  }

#dealerstays {
    grid-area: dealerstays;
    background-color: rgb(52, 131, 45);
    text-align: center;
  }
#buttons {
    grid-area: buttons;
    display: block;
    justify-content: center;
    padding: 50px;
    vertical-align: top/middle/bottom;
    align-items: center;
    margin-right: 10px;
    background-color: rgb(52, 131, 45);

}
.blink_me {
    animation: blinker .4s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
button {
    margin: 0px 0px 20px 0px;
    display: block;
    background-color: rgb(20, 88, 40);
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: rgba(198, 216, 204, 0.87);
  color: #666666;
}

#playagain:disabled{
  color:  rgb(52, 131, 45);
  background-color: rgb(52, 131, 45);
  border: rgb(52, 131, 45);
}
